{% extends 'shop/base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
    <h1 class="cart_title">Cart</h1>

    {% if cart_empty %}
    <h3 style="text-align: center; margin-bottom: 35rem; margin-top: 3rem; font-weight: 400;">No items in cart. Please add products to your cart.</h3>
    {% else %}
        {% for product in cart_products %}
        <div class="cart_container">
            <div class="img_section">
                <img class="cart_img" src="{{ product.image.url }}" alt="">
            </div>
            <div class="product_section">
                <h3 class="product_name">{{ product.name }}</h3>
                <div class="quantity">
                    <span class="qty">Quantity:&nbsp;&nbsp;</span>
                    <h5>{{ product|cart_count:request.session.cart }}</h5>
                </div>
            </div>
            <div class="price_section">
                <span class="price">Price:&nbsp;&nbsp;</span>
                
                <h4>{{ product.price|currency }}</h4>
            </div>
            <div class="cost_section">
                <span class="price">Cost:&nbsp;&nbsp;</span>
                <span class="total"><strong>{{ product|price_total:request.session.cart|currency }}</strong></span>
            </div>
        </div>
        {% endfor %}


        <hr style="margin-left: 80px; margin-right: 60px; margin-bottom: 100px;">

        <div style="float: right; margin-right: 8rem; margin-top: -5rem;">
            <span class="price">Cost:&nbsp;&nbsp;</span>
            <span class="total"><strong>{{ cart_products|total_cost:request.session.cart|currency }}</h5></strong></span>
        </div>


        <div class="button_save">
            <a href="{% url 'cart-clear' %}" onclick="clearcart()" class="clear_cart">Clear Cart</a>
            <a href="{% url 'checkout' %}" class="checkout">Checkout</a>
        </div>
    {% endif %}





{% endblock %}

