{% extends 'shop/base.html' %} 
{% block content %}
<h1 style="text-align: center;">About Page</h1>
<p style="text-align: center; padding: 100px; font-weight: 300; color: rgb(44, 44, 44); ">
  Amazon.com, Inc.[6] (/ˈæməzɒn/ AM-ə-zon) is an American multinational
  technology company which focuses on e-commerce, cloud computing, digital
  streaming, and artificial intelligence. It is one of the Big Five companies in
  the U.S. information technology industry, along with Google (Alphabet Inc.),
  Apple, Meta (Facebook), and Microsoft.[7][8][9][10] It has been referred to as
  "one of the most influential economic and cultural forces in the world", and
  the world's most valuable brand.[11][12][13] Jeff Bezos founded Amazon from
  his garage in Bellevue, Washington,[14] on July 5, 1994. Initially an online
  marketplace for books, it has expanded into a multitude of product categories:
  a strategy that has earned it the moniker The Everything Store.[15] It has
  multiple subsidiaries including Amazon Web Services (cloud computing), Zoox
  (autonomous vehicles), Kuiper Systems (satellite Internet), Amazon Lab126
  (computer hardware R&D). Its other subsidiaries include Ring, Twitch, IMDb,
  and Whole Foods Market. Its acquisition of Whole Foods in August 2017 for
  US$13.4 billion substantially increased its footprint as a physical
  retailer.[16] Amazon has earned a reputation as a disruptor of
  well-established industries through technological innovation and mass
  scale.[17][18][19][20] As of 2021, it is the world's largest Internet company,
  online marketplace, AI assistant provider, cloud computing platform,[21] and
  live-streaming service as measured by revenue and market share.[22] In 2021,
  it surpassed Walmart as the world's largest retailer outside of China, driven
  in large part by its paid subscription plan, Amazon Prime, which has over 200
  million subscribers worldwide.[23] It is the second-largest private employer
  in the United States.[24] Amazon also distributes a variety of downloadable
  and streaming content through its Amazon Prime Video, Amazon Music, Twitch,
  and Audible units. It publishes books through its publishing arm, Amazon
  Publishing, film and television content through Amazon Studios, and is
  currently acquiring film and television studio Metro-Goldwyn-Mayer. It also
  produces consumer electronics—most notably, Kindle e-readers, Echo devices,
  Fire tablets, and Fire TV. Amazon has been criticized for practices including
  technological surveillance overreach,[25] a hyper-competitive and demanding
  work culture,[26] tax avoidance,[27] and anti-competitive behavior.
</p>
{% endblock content %}
